.item {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  padding: 15px;
  align-items: center;
  justify-content: space-between;
  overflow: auto;
}

.left-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.track-image {
  height: 150px;
  width: 150px;
  margin-right: 15px;
}

.pop-container {
  display: flex;
  flex-direction: column;
}
.name {
  font-family: 'Roboto';
  font-size: 18px;
  color: #ffffff;
  font-weight: bold;
}
.genre {
  font-family: 'Roboto';
  font-size: 18px;
  color: #3b82f6;
}
.right-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-right: 40px;
  margin: 20px;
}
.duration {
  font-family: 'Roboto';
  font-size: 19px;
  color: #ffffff;
}
.button {
  background-color: transparent;
  border: none;
  outline: none;
}
.delete-icon {
  height: 20px;
  width: 20px;
  color: #ffffff;
  margin-left: 20px;
}
